@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
.button-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.button {
	cursor: pointer;
	
	padding: 20px 40px;
	border-radius: 8px;
	color: #212121;
	font-size:28px;
	font-weight: 800px;
	margin: 0 15px;
	transition:1s;
}

.button-1 {
	color: #FFCE00;
	border: 3px solid #FFCE00
}

.button-1:hover{
	 color:#FFF;
	 background-color: #FFCE00;
}


BODY {
	font-family: 'Courier Prime', monospace;
}

DIV {
	border: 1px solid #000000;
	}

#Header {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url(images/banner.png) no-repeat;
	}

#MainContent {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	}
	
#Footer {
	width: 802px;
	margin-right: auto;
	margin-left: auto;
	height:50px;
}

#FooterLeft {
	float:left;
	width:399px; /*49.5%*/
	height:50px;
	border: 1px solid green;
}

#FooterRight {
	float:right;
	width:399px; /*49.5%*/
	height:50px;
	border: 1px solid red;
}

@media only screen and (max-width: 998px) {
  #Footer, #MainContent, #Header {
    width:100%;
  }
}
